@{
    ViewData["Title"] = "Faq Page";
}

<div class="container">
    <h3>
        Perguntas frequentes
    </h3>
    <br />
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Quem pode realizar uma adoção?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Qualquer pessoa, plenamente capaz, maior de 18 anos, mediante assinatura do contrato de adoção.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                O que é preciso para adotar um pet?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            É necessário realizar o cadastro no site e aguardar o contato da ONG/protetor parceiro responsável pelo pet para a entrevista. Após aprovação será preciso assinar o contrato de adoção na hora da retirada do pet.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Quais são os documentos necessários para uma adoção?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            RG, CPF e comprovante de endereço recente. É necessário apresentar RG original também no dia da retirada do pet.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFourth">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
                                Após o preenchimento do formulário, quanto tempo devo aguardar?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFourth" class="collapse" aria-labelledby="headingFourth" data-parent="#accordion">
                        <div class="card-body">
                            A ONG/protetor parceiro tem o prazo de 72 horas para entrar em contato com o possível adotante. Neste contato, a ONG/protetor realiza a entrevista com perguntas que julgam pertinentes no momento do contato com o interessado na adoção, conforme critério de condução de cada organização e pet relacionado (cão ou gato).
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFifth">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                                Fui aprovado, posso retirar o pet no mesmo dia?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordion">
                        <div class="card-body">
                            Sim. Após a aprovação da ONG/protetor para a adoção do pet, é notificada para efetuar a liberação do pet, assim, o adotante tem até 48h para a retirada do animal na loja.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSixth">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">
                                Os animais que vão para adoção são castrados?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSixth" class="collapse" aria-labelledby="headingSixth" data-parent="#accordion">
                        <div class="card-body">
                            Sim. Os animais que participam do processo de adoção são castrados, vacinados de acordo com a idade, vermifugados, microchipados e recebem medicamentos para controle de pulgas e carrapatos, de acordo com a legislação vigente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeventh">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseSeventh" aria-expanded="false" aria-controls="collapseSeventh">
                                Os animais são vacinados?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeventh" class="collapse" aria-labelledby="headingSeventh" data-parent="#accordion">
                        <div class="card-body">
                            Sim. São vacinados de acordo com sua idade e condições.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEighth">
                        <h5 class="mb-0">
                            <button class="btn font-italic collapsed" data-toggle="collapse" data-target="#collapseEighth" aria-expanded="false" aria-controls="collapseEighth">
                                Adotei um pet e ele não se adaptou, é possível a devolução?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEighth" class="collapse" aria-labelledby="headingEighth" data-parent="#accordion">
                        <div class="card-body">
                            Sim, mas antes de adotar um pet é importante ter a ciência que são animais que podem exigir um período de adaptação junto ao adotante, uma vez que, geralmente, são animais com históricos de abandono, maus tratos, e por esses motivos, podem demorar um pouco mais para se adaptarem com outras pessoas, pets e/ou novos ambientes. Seja paciente, esses pets precisam de carinho e amor. Em casos de devoluções/não adaptação, o contato deve ser realizado diretamente com a ONG/protetor.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>