@{
    ViewData["Title"] = "Excluir Pet";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade bd-example-modal-lg" id="AdoptionTerm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Termo de adoção</h5>
                        </div>
                        <form asp-controller="Pet" asp-action="Adopt" method="post">
                            <div class="modal-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus ac ipsum condimentum tincidunt quis sed metus. Duis id elementum purus. Fusce vel diam sit amet nulla luctus accumsan. Suspendisse potenti. Pellentesque facilisis eu risus vel pharetra. Aenean et diam diam. Donec accumsan vel arcu non sodales. Curabitur quis arcu feugiat tellus ullamcorper venenatis ac nec ligula. Aenean consequat vulputate magna, non scelerisque lorem molestie nec.
                                    Integer nec risus ac urna sollicitudin pretium a non turpis. Maecenas ac odio facilisis, suscipit ante in, dapibus ligula. Vestibulum semper neque aliquam, tincidunt est elementum, placerat quam. Pellentesque dictum quis nunc at congue. Quisque semper turpis purus, a placerat neque viverra ornare. Pellentesque in euismod ipsum. Etiam efficitur rutrum dapibus. Cras tristique, tellus sed tincidunt aliquam, nisl ante rhoncus lorem, nec imperdiet est metus id nibh. Maecenas quis viverra libero. Cras ac dui pulvinar, scelerisque elit quis, tempus metus. Ut ac luctus risus, sit amet efficitur mi. Aliquam erat ipsum, placerat non lorem nec, tempus maximus nunc. Sed vehicula convallis lectus in sodales.
                                    In sit amet dictum leo, a pharetra quam. Phasellus a justo eget orci accumsan lacinia.
                                </p>
                                <div class="form-check form-check-inline font-weight-bold">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Eu concordo com os termos de adoção.</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" onclick="history.back();" style="color: white; cursor: pointer;">Rejeitar</a>
                                <button type="submit" class="btn btn-primary">Concordo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>