


<style>
    .list-group-item {
        border: none !important;
        padding: 0.5rem 1.25rem !important;
    }
</style>

<div class="container">
    <h3>
        Ficha do Pet
    </h3>
    <br />
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span><b>Código:</b></span> 123</li>
                    <li class="list-group-item"><span><b>Raça:</b></span> SRD</li>
                    <li class="list-group-item"><span><b>Cor:</b></span> Branco e Preto</li>
                    <li class="list-group-item"><span><b>Idade:</b></span> 5 anos</li>
                    <li class="list-group-item"><span><b>Sexo:</b></span> Macho</li>
                    <li class="list-group-item"><span><b>Castrado:</b></span> Sim</li>
                    <li class="list-group-item">
                        <span><b>Vacinas:</b></span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                            <label class="form-check-label" for="inlineCheckbox2">Raiva</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                            <label class="form-check-label" for="inlineCheckbox2">V10</label>
                        </div>
                    </li>
                    <li class="list-group-item"><span><b>Localidade:</b></span> Barretos - São Paulo</li>
                    <li class="list-group-item"><span><b>Observação:</b></span> Animal agressivo quando está dentro da baia, quando alguém se aproxima ele fica com medo, late bastante.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <h3 class="text-center"><span>Jose</span></h3>
                <img src="https://i0.wp.com/www.portaldodog.com.br/cachorros/wp-content/uploads/2021/03/visa%CC%83o-do-cachorro-2.jpeg?w=626&ssl=1">
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg active" style="background-color: #7187FF; border-color: #0866F2; color: black; font-weight: bold">Voltar</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-secondary btn-lg active" style="background-color: #74FDB3; border-color: #08F24A; color: black; font-weight: bold" role="button" aria-pressed="true">Adotar esse animal</a>
        </div>
    </div>
</div>
