@model EditPeopleViewModel

<input asp-for="Id" class="form-control" />
<input asp-for="UserId" class="form-control" />
<input asp-for="CreateDate" class="form-control" />

<div class="form-group">
    <label asp-for="OccupationArea" class="control-label">Área de Atuação</label>
    <input asp-for="OccupationArea" class="form-control" />
    <span asp-validation-for="OccupationArea" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CellPhone" class="control-label">Celular *</label>
    <input asp-for="CellPhone" class="form-control" />
    <span asp-validation-for="CellPhone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label">Endereço *</label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="District" class="control-label">Bairro *</label>
    <input asp-for="District" class="form-control" />
    <span asp-validation-for="District" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="City" class="control-label">Cidade *</label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="State" class="control-label">Estado *</label>
    <input asp-for="State" class="form-control" />
    <span asp-validation-for="State" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CEP" class="control-label">CEP *</label>
    <input asp-for="CEP" class="form-control" />
    <span asp-validation-for="CEP" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label">Email *</label>
    <input asp-for="Email" class="form-control" readonly />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CurrentPassword" class="control-label">Senha Atual</label>
    <input asp-for="CurrentPassword" class="form-control" />
    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="NewPassword" class="control-label">Nova Senha</label>
    <input asp-for="NewPassword" class="form-control" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>
</div>