@{
    ViewData["Title"] = "Acesso negado";
}

<div class="container">
    <h3>
        Acesso negado
    </h3>
    <br />
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <p>Você não tem permissão para visualizar esse conteúdo no momento.</p>
        </div>
    </div>
</div>