@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <strong class="alert-danger">@TempData["error-message-login"]</strong>
                    <br />
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email:</label>
                            <input asp-for="Email" class="form-control" placeholder="Ex. joaodasilva@gmail.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Senha:</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Entrar</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or" />
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <p class="text-center">Não tem cadastro? <a asp-controller="Account" asp-action="Register" id="signup">cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
