@{
    ViewData["Title"] = "Login Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Crie seu cadastro</h1>
                        </div>
                    </div>
                    <form action="#" name="registration">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="adopter" checked>
                                <label class="form-check-label">
                                    Adotante
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="ong">
                                <label class="form-check-label">
                                    ONG
                                </label>
                            </div>
                        </div>

                        <!--#Adopter-->
                        <div id="adopter">
                            <div class="form-group">
                                <label>Nome Completo</label>
                                <input type="text" name="fullname" class="form-control" id="fullname">
                            </div>
                            <div class="form-group">
                                <label>RG</label>
                                <input type="text" name="rg" class="form-control" id="rg">
                            </div>
                            <div class="form-group">
                                <label>Expedição</label>
                                <input type="text" name="dispatch" class="form-control" id="dispatch" maxlength="3">
                            </div>
                            <div class="form-group">
                                <label>CPF</label>
                                <input type="text" name="cpf" class="form-control" id="cpf">
                            </div>
                            <div class="form-group">
                                <label>Data de Nascimento</label>
                                <input type="date" name="birthdate" class="form-control" id="birthdate">
                            </div>
                        </div>
                        <!--#Adopter-->

                        <!--#ONG-->
                        <div id="ong" style="display:none;">
                            <div class="form-group">
                                <label>Nome Fantasia</label>
                                <input type="text" name="fantasyname" class="form-control" id="fantasyname">
                            </div>

                            <div class="form-group">
                                <label>CNPJ</label>
                                <input type="text" name="cnpj" class="form-control" id="cnpj">
                            </div>
                        </div>
                        <!--#ONG-->

                        <div class="form-group">
                            <label>Área de Atuação</label>
                            <input type="text" name="occupationarea" class="form-control" id="occupationarea">
                        </div>
                        <div class="form-group">
                            <label>Celular</label>
                            <input type="text" name="celular" class="form-control" id="celular">
                        </div>
                        <div class="form-group">
                            <label>Endereço</label>
                            <input type="text" name="address" class="form-control" id="address">
                        </div>
                        <div class="form-group">
                            <label>Cidade</label>
                            <input type="text" name="city" class="form-control" id="city">
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <input type="text" name="state" class="form-control" id="state">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Criar seu cadastro</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <p class="text-center">Já tem cadastro? <a asp-area="" asp-controller="Login" asp-action="Index" id="signin">entrar</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>