@{
    ViewData["Title"] = "Doações";
}

<div class="container">
    <h3>
        Doações recebidas
    </h3>
    <br />
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <table class="table table-bordered" id="tablePets">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código</th>
                        <th scope="col">Pet</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>10</td>
                        <td>Pipoca</td>
                        <td>R$ 150,00</td>
                        <td>02/04/2022</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>8</td>
                        <td>Jose</td>
                        <td>R$ 10,00</td>
                        <td>28/03/2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>